openapi: 3.1.0
info:
  title: ImageKit API
  version: 2.0.0
  description: |-
    ImageKit provides Digital Asset Management (DAM) with real-time image/video optimization and delivery. This API manages media assets, metadata, folders, AI/ML processing, and media collections.
    
    **Key Capabilities:**
    - Upload and organize images, videos, documents across folders
    - Advanced search with Lucene-like queries and AI-powered semantic search (text and visual similarity)
    - Custom metadata fields (Text, Number, Date, Boolean, Select) with validation and path policies
    - AI/ML extensions: background removal, auto-tagging, image analysis, content generation
    - File versioning, publication workflows, and CDN cache management
    - Media collections, access control (ACL), and public sharing links
    - Bulk operations for metadata updates, tag management, and extension processing
    
    See [API overview](/docs/api-overview) for authentication, rate limits, and error codes.
  contact:
    email: developer@imagekit.io
    name: ImageKit Team
    url: https://imagekit.io
  termsOfService: "https://imagekit.io/terms/"
servers:
  - url: https://imagekit.io
paths:
  /api/v1/dummy/test:
    post:
      summary: Dummy test endpoint using all shared models
      operationId: create-dummy-test
      x-internal: true
      description: |
        Internal test endpoint for SDK generation purposes only. This endpoint demonstrates usage of all shared models defined in the Stainless configuration and is not intended for public consumption.
      tags:
        - Dummy Test
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                extensions:
                  $ref: '#/components/schemas/Extensions'
                savedExtensions:
                  $ref: '#/components/schemas/SavedExtension'
                extensionConfig:
                  $ref: '#/components/schemas/ExtensionConfig'
                srcOptions:
                  $ref: '#/components/schemas/SrcOptions'
                getImageAttributesOptions:
                  $ref: '#/components/schemas/GetImageAttributesOptions'
                responsiveImageAttributes:
                  $ref: '#/components/schemas/ResponsiveImageAttributes'
                transformation:
                  $ref: '#/components/schemas/Transformation'
                transformationPosition:
                  $ref: '#/components/schemas/TransformationPosition'
                streamingResolution:
                  $ref: '#/components/schemas/StreamingResolution'
                overlay:
                  $ref: '#/components/schemas/Overlay'
                baseOverlay:
                  $ref: '#/components/schemas/BaseOverlay'
                overlayPosition:
                  $ref: '#/components/schemas/OverlayPosition'
                overlayTiming:
                  $ref: '#/components/schemas/OverlayTiming'
                textOverlay:
                  $ref: '#/components/schemas/TextOverlay'
                imageOverlay:
                  $ref: '#/components/schemas/ImageOverlay'
                videoOverlay:
                  $ref: '#/components/schemas/VideoOverlay'
                subtitleOverlay:
                  $ref: '#/components/schemas/SubtitleOverlay'
                solidColorOverlay:
                  $ref: '#/components/schemas/SolidColorOverlay'
                textOverlayTransformation:
                  $ref: '#/components/schemas/TextOverlayTransformation'
                subtitleOverlayTransformation:
                  $ref: '#/components/schemas/SubtitleOverlayTransformation'
                solidColorOverlayTransformation:
                  $ref: '#/components/schemas/SolidColorOverlayTransformation'
      responses:
        "204":
          description: No content - Request processed successfully with empty response
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Invalid input data"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v2-alpha/files/upload:
    servers:
      - url: https://upload.imagekit.io
    post:
      tags:
        - Upload File
      operationId: upload-file-v2
      summary: Upload file to ImageKit media library (V2, JWT-secured)
      description: |
        Upload a file (image, video, audio, document) to ImageKit storage. Returns file metadata including URL, fileId, and dimensions.

        While calling this tool, pass value of `publicKey`, `authEndpoint` and `uploadAPIEndpoint` from the tool configuration as it is without any modification.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/FileUploadV2"
      responses:
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: File uploaded successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Upload"
              examples:
                Simple image file:
                  value:
                    $ref: "#/components/examples/UploadResponseImage"
                Simple video file:
                  value:
                    $ref: "#/components/examples/UploadResonseVideo"
                Image with EmbeddedMetadata:
                  value:
                    $ref: "#/components/examples/UploadResponseWithEmbeddedMetadata"
        "202":
          description: File accepted for upload. Pre transformation for video is being processed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The pre-transformation has been queued successfully.
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples:
                      - Your request is missing file parameter.
                      - Your request contains both token and basic auth parameter. Use only one method, you might be exposing your private API key.
                      - Your request contains invalid payload. It does not match with the payload used to generate token.
                      - Your request is missing token parameter.
                      - Your request contains expired token.
                      - Your request has invalid token.
                      - A file with the same name already exists at the exact location. We could not overwrite it because both overwriteFile and useUniqueFileName are set to false.
                      - Your request contains invalid file parameter. The file size exceeds limits.
                      - Upload Limit Exceeded.
                      - Extensions quota exceeded.
                      - The file could not be uploaded because the transformation field is invalid.
                      - The file could not be uploaded because transformations are supported only for image and video files.
                      - The file could not be uploaded because the detected file type & post-transformation are incompatible.
                      - You have sent too many requests to update the file recently. Please try again later.
                      - Your request contains invalid syntax for the checks parameter.
                      - Your request failed 'checks' validation.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
  /api/v1/customMetadataFields:
    post:
      summary: Create custom metadata field
      operationId: create-custom-metadata-field
      description: |
        Create a new custom metadata field schema (e.g., "brand", "price", "SKU"). After creation, this field can be set on assets via upload or update APIs.
        
        **When to use:** Use this to define new metadata fields before you can assign values to assets. To set field values on assets, use `update-file-details` or `bulk-update-custom-metadata` instead.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - label
                - schema
              properties:
                name:
                  type: string
                  description: API name of the custom metadata field. This should be unique across all (including deleted) custom metadata fields.
                label:
                  type: string
                  description: Human readable name of the custom metadata field. This should be unique across all non deleted custom metadata fields. This name is displayed as form field label to the users while setting field value on an asset in the media library UI.
                schema:
                  type: object
                  required:
                    - type
                  properties:
                    type:
                      description: Type of the custom metadata field.
                      type: string
                      enum:
                        - Text
                        - Textarea
                        - Number
                        - Date
                        - Boolean
                        - SingleSelect
                        - MultiSelect
                    selectOptions:
                      type: array
                      items:
                        oneOf:
                          - type: string
                          - type: number
                          - type: boolean
                      description: |
                        An array of allowed values. This property is only required if `type` property is set to `SingleSelect` or `MultiSelect`.
                      example:
                        - small
                        - medium
                        - large
                        - 30
                        - 40
                        - true
                    defaultValue:
                      description: |
                        The default value for this custom metadata field. This property is only required if `isValueRequired` property is set to `true`. The value should match the `type` of custom metadata field.
                      oneOf:
                        - type: string
                        - type: number
                        - type: boolean
                        - type: array
                          x-stainless-variantName: Mixed
                          title: Mixed
                          items:
                            oneOf:
                              - type: string
                              - type: number
                              - type: boolean
                          description: |
                            Default value should be of type array when custom metadata field type is set to `MultiSelect`.
                          example:
                            - true
                            - 10
                            - Hello
                    isValueRequired:
                      type: boolean
                      description: |
                        Sets this custom metadata field as required. Setting custom metadata fields on an asset will throw error if the value for all required fields are not present in upload or update asset API request body.
                    minValue:
                      description: |
                        Minimum value of the field. Only set this property if field type is `Date` or `Number`. For `Date` type field, set the minimum date in ISO8601 string format. For `Number` type field, set the minimum numeric value.
                      oneOf:
                        - type: string
                        - type: number
                    maxValue:
                      description: |
                        Maximum value of the field. Only set this property if field type is `Date` or `Number`. For `Date` type field, set the minimum date in ISO8601 string format. For `Number` type field, set the minimum numeric value.
                      oneOf:
                        - type: string
                        - type: number
                    minLength:
                      description: |
                        Minimum length of string. Only set this property if `type` is set to `Text` or `Textarea`.
                      type: number
                    maxLength:
                      description: |
                        Maximum length of string. Only set this property if `type` is set to `Text` or `Textarea`.
                      type: number
            example:
              name: price
              label: price
              schema:
                type: Number
                minValue: 1000
                maxValue: 3000
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "201":
          description: Custom metadata field created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomMetadataField"
              example:
                id: 598821f949c0a938d57563dd
                name: price
                label: price
                schema:
                  type: Number
                  minValue: 1000
                  maxValue: 3000
        "400":
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: A custom metadata field with this name already exists.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
      tags:
        - Digital Asset Management (DAM)
        - Custom metadata fields
    get:
      tags:
        - Digital Asset Management (DAM)
        - Custom metadata fields
      operationId: list-custom-metadata-fields
      summary: List all custom metadata fields
      description: |
        Retrieve all custom metadata field schemas defined in your account. Returns field names, types, validation rules, and constraints.
        
        **When to use:** Call this to discover available metadata fields before updating file metadata. For files in specific folders with path policies, use `folderPath` param to see which fields apply.
        
        By default returns only active (non-deleted) fields. Set `includeDeleted=true` to include deleted fields.
      parameters:
        - in: query
          description: |
            Set it to `true` to include deleted field objects in the API response.
          name: includeDeleted
          required: false
          schema:
            type: boolean
            default: false
        - in: query
          description: |
            The folder path (e.g., `/path/to/folder`) for which to retrieve applicable custom metadata fields. Useful for determining path-specific field selections when the [Path policy](https://imagekit.io/docs/dam/path-policy) feature is in use.
          name: folderPath
          required: false
          schema:
            type: string
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Array of custom metadata field objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustomMetadataField"
              example:
                - id: 598821f949c0a938d57563dd
                  name: brand
                  label: brand
                  schema:
                    type: Text
                    defaultValue: Nike
                - id: 865421f949c0a835d57563dd
                  name: price
                  label: price
                  schema:
                    type: Number
                    minValue: 1000
                    maxValue: 3000
  /api/v2/files/{fileId}/details:
    get:
      tags:
        - Digital Asset Management (DAM)
        - Managing assets
      operationId: get-file-details
      summary: Get file details by fileId
      description: |
        Retrieve metadata and attributes for a single file by its `fileId`. Returns URL, dimensions, tags, custom metadata, version info, and more.
        
        **When to use:** Use this to get details of a specific file when you have its `fileId`. To find files or search by attributes, use `list-and-search-assets` instead.
      parameters:
        - description: |
            The unique `fileId` of the uploaded file. `fileId` is returned in the list and search assets API and upload API.
          in: path
          name: fileId
          required: true
          schema:
            type: string
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: File details object.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileDetails"
              example:
                fileId: 598821f949c0a938d57563bd
                type: file
                name: file.jpg
                filePath: /images/products/file.jpg
                tags:
                  - t-shirt
                  - round-neck
                  - sale2019
                AITags:
                  - name: Shirt
                    confidence: 90.12
                    source: google-auto-tagging
                  - name: T-shirt
                    confidence: 80.12
                    source: aws-auto-tagging
                versionInfo:
                  id: 598821f949c0a938d57563bd
                  name: Version 1
                isPrivateFile: false
                isPublished: true
                customCoordinates: null
                url: https://ik.imagekit.io/your_imagekit_id/images/products/file.jpg?updatedAt=1566630881313
                thumbnail: https://ik.imagekit.io/your_imagekit_id/images/products/file.jpg?updatedAt=1566630881313&tr=n-ik_ml_thumbnail
                fileType: image
                mime: image/jpeg
                width: 100
                height: 100
                size: 100
                hasAlpha: false
                customMetadata:
                  brand: Nike
                  color: red
                description: "A product description"
                createdAt: "2019-08-24T06:14:41.313Z"
                updatedAt: "2019-08-24T06:14:41.313Z"
        "404":
          description: File not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested file does not exist.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "400":
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Your request contains invalid fileId parameter.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
    patch:
      tags:
        - Digital Asset Management (DAM)
        - Managing assets
      operationId: update-file-details
      summary: Update file metadata and apply extensions
      description: |
        Update metadata for a single file: tags, custom metadata, coordinates, publication status, or apply AI extensions.
        
        **When to use:**
        - **Single file:** Use this endpoint for one file at a time
        - **Multiple files with same metadata:** Use `bulk-update-custom-metadata` instead (up to 1000 files)
        - **Apply extensions:** Use `bulk-apply-extensions` for multiple files, or include `extensions` in this request for single file
        - **Get current values:** Call `get-file-details` first to see existing metadata
      parameters:
        - description: |
            The unique `fileId` of the uploaded file. `fileId` is returned in list and search assets API and upload API.
          in: path
          name: fileId
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateFileRequest"
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Updated file details object.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/FileDetails"
                  - type: object
                    properties:
                      extensionStatus:
                        $ref: "#/components/schemas/ExtensionStatus"
              example:
                fileId: 598821f949c0a938d57563bd
                type: file
                name: file1.jpg
                filePath: /images/products/file.jpg
                isPublished: true
                tags:
                  - t-shirt
                  - round-neck
                  - sale2019
                AITags:
                  - name: Shirt
                    confidence: 90.12
                    source: google-auto-tagging
                  - name: T-shirt
                    confidence: 80.12
                    source: aws-auto-tagging
                versionInfo:
                  id: 598821f949c0a938d57563bd
                  name: Version 1
                isPrivateFile: false
                customCoordinates: null
                url: https://ik.imagekit.io/your_imagekit_id/images/products/file.jpg?updatedAt=1566630881313
                thumbnail: https://ik.imagekit.io/your_imagekit_id/images/products/file.jpg?updatedAt=1566630881313&tr=n-ik_ml_thumbnail
                fileType: image
                mime: image/jpeg
                width: 100
                height: 100
                size: 100
                hasAlpha: false
                customMetadata:
                  brand: Nike
                  color: red
                createdAt: "2019-08-24T06:14:41.313Z"
                updatedAt: "2019-08-24T06:14:41.313Z"
                extensionStatus:
                  google-auto-tagging: "success"
                  remove-bg: "pending"
                  ai-auto-description: "success"
                  ai-tasks: "success"
        "404":
          description: File not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested file does not exist.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples:
                      - Invalid custom metadata.
                      - Your request contains invalid fileId parameter.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
                  errors:
                    type: object
  /api/v1/customMetadataFields/{id}:
    patch:
      tags:
        - Digital Asset Management (DAM)
        - Custom metadata fields
      operationId: update-custom-metadata-field
      summary: Update custom metadata field schema
      description: |
        Modify the label or validation rules of an existing custom metadata field. Does not change field values on assets.
        
        **When to use:** Use this to change field definitions (e.g., min/max values, labels). To update field values on assets, use `update-file-details` or `bulk-update-custom-metadata` instead.
      parameters:
        - description: |
            Should be a valid custom metadata field id.
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                  description: Human readable name of the custom metadata field. This should be unique across all non deleted custom metadata fields. This name is displayed as form field label to the users while setting field value on an asset in the media library UI. This parameter is required if `schema` is not provided.
                schema:
                  type: object
                  description: |
                    An object that describes the rules for the custom metadata key. This parameter is required if `label` is not provided. Note: `type` cannot be updated and will be ignored if sent with the `schema`. The schema will be validated as per the existing `type`.
                  properties:
                    selectOptions:
                      type: array
                      items:
                        oneOf:
                          - type: string
                          - type: number
                          - type: boolean
                      description: |
                        An array of allowed values. This property is only required if `type` property is set to `SingleSelect` or `MultiSelect`.
                      example:
                        - small
                        - medium
                        - large
                        - 30
                        - 40
                        - true
                    defaultValue:
                      description: |
                        The default value for this custom metadata field. This property is only required if `isValueRequired` property is set to `true`. The value should match the `type` of custom metadata field.
                      oneOf:
                        - type: string
                        - type: number
                        - type: boolean
                        - type: array
                          x-stainless-variantName: Mixed
                          title: Mixed
                          items:
                            oneOf:
                              - type: string
                              - type: number
                              - type: boolean
                          description: |
                            Default value should be of type array when custom metadata field type is set to `MultiSelect`.
                          example:
                            - true
                            - 10
                            - Hello
                    isValueRequired:
                      type: boolean
                      description: |
                        Sets this custom metadata field as required. Setting custom metadata fields on an asset will throw error if the value for all required fields are not present in upload or update asset API request body.
                    minValue:
                      description: |
                        Minimum value of the field. Only set this property if field type is `Date` or `Number`. For `Date` type field, set the minimum date in ISO8601 string format. For `Number` type field, set the minimum numeric value.
                      oneOf:
                        - type: string
                        - type: number
                    maxValue:
                      description: |
                        Maximum value of the field. Only set this property if field type is `Date` or `Number`. For `Date` type field, set the minimum date in ISO8601 string format. For `Number` type field, set the minimum numeric value.
                      oneOf:
                        - type: string
                        - type: number
                    minLength:
                      description: |
                        Minimum length of string. Only set this property if `type` is set to `Text` or `Textarea`.
                      type: number
                    maxLength:
                      description: |
                        Maximum length of string. Only set this property if `type` is set to `Text` or `Textarea`.
                      type: number
            example:
              label: price
              schema:
                type: Number
                minValue: 1000
                maxValue: 3000
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples:
                      - Cannot update a deleted custom metadata fields.
                      - Either label or schema should be provided.
                      - A custom metadata field with this label already exists.
                      - Invalid schema object.
                      - Name cannot be updated.
                      - Missing id parameter.
                      - Your request contains invalid ID parameter.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "404":
          description: Custom metadata field doesn't exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: No such custom metadata field exists.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "200":
          description: Custom metadata field updated successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomMetadataField"
              example:
                id: 598821f949c0a938d57563dd
                name: price
                label: price
                schema:
                  type: Number
                  minValue: 1000
                  maxValue: 3000
    delete:
      tags:
        - Digital Asset Management (DAM)
        - Custom metadata fields
      operationId: delete-custom-metadata-field
      summary: Delete custom metadata field
      description: |
        Permanently delete a custom metadata field definition. The field name becomes reserved and cannot be reused.
        
        **Important:** This deletes the field schema only. Existing field values on assets are not removed. Cannot delete fields that are part of active path policies.
      parameters:
        - description: |
            Should be a valid custom metadata field id.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples:
                      - Missing id parameter.
                      - Your request contains invalid ID parameter.
                      - "This custom metadata field cannot be deleted as it is a part of a path policy: policy-name"
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "404":
          description: Custom metadata field doesn't exist.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: No such custom metadata field exists.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "204":
          description: Custom metadata field deleted successfully.
          content:
            application/json:
              schema:
                type: object
                x-stainless-empty-object: true
  /api/media-library/{clientNumber}/files/bulk/custom-metadata:
    post:
      tags:
        - Digital Asset Management (DAM)
        - Custom metadata fields
      operationId: bulk-update-custom-metadata
      summary: Bulk update custom metadata
      description: |
        Updates custom metadata fields for multiple files in a single operation. Use this endpoint when you need to apply the same custom metadata changes across multiple files efficiently.
        
        **Use cases:**
        - Add or update custom metadata fields (e.g., brand, category, price) for multiple images
        - Remove specific metadata fields by setting their value to null
        - Apply consistent tagging across a batch of assets
        
        **Workflow:**
        1. Optionally call the supported-fields endpoint first to get valid custom metadata fields for the files
        2. Prepare the customMetadata object with field names and values
        3. Call this endpoint with fileIds and customMetadata
        4. Receive updated file details including the new custom metadata
      parameters:
        - $ref: "#/components/parameters/ClientNumber"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fileIds
                - customMetadata
              properties:
                fileIds:
                  type: array
                  items:
                    type: string
                  description: |
                    Array of file IDs (MongoDB ObjectId strings) to update. Maximum 1000 files per request. All file IDs must exist in your media library.
                  example: ["598821f949c0a938d57563bd", "598821f949c0a938d57563be"]
                  maxItems: 1000
                  minItems: 1
                customMetadata:
                  type: object
                  additionalProperties: true
                  description: |
                    Key-value pairs of custom metadata to set on all specified files. Keys must match existing custom metadata field names defined in your account. Set a value to null to remove that field from the files.
                    
                    Example: {"brand": "Nike", "color": "red", "price": 99.99, "oldField": null}
                  example:
                    brand: Nike
                    color: red
                    price: 99.99
            example:
              fileIds:
                - "598821f949c0a938d57563bd"
                - "598821f949c0a938d57563be"
              customMetadata:
                brand: Nike
                color: red
                price: 99.99
                season: "Spring 2024"
      responses:
        "200":
          description: Custom metadata updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates if the operation was successful
                    example: true
                  imageMetadatas:
                    type: array
                    items:
                      $ref: "#/components/schemas/FileDetails"
                    description: |
                      Array of complete file detail objects for all successfully updated files. Each object includes all file properties (fileId, name, filePath, url, thumbnail, etc.) along with the updated customMetadata. Use these to verify the changes or display updated file information.
        "400":
          description: |
            Bad request. Common causes:
            - **Invalid custom metadata**: One or more field names don't exist or values don't match the field schema (wrong data type, out of range, etc.)
            - **Too many values**: A file would exceed the 1000 custom metadata values limit
            - **Missing parameters**: fileIds or customMetadata not provided
            - **Multiple path policies**: The selected files belong to folders with different path policies (unsupported)
            - **Validation errors**: Field values fail schema validation (see errors object for details)
            
            Check the message and errors fields for specific validation failures.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples:
                      - Invalid custom metadata.
                      - An asset can have a maximum of 1000 custom metadata values.
                      - No files or custom metadata provided for bulk update.
                      - Multiple path policies found for selected files.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
                  errors:
                    type: object
                    description: Contains field-specific validation errors when customMetadata validation fails. Keys are field names, values are error messages.
                    example:
                      brand: Specified custom metadata field does not exist.
                      price: Value must be between 0 and 10000.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: |
            One or more file IDs not found in the media library. Check the missingFileIds array to see which specific file IDs don't exist. Verify the file IDs are correct and the files haven't been deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: One or more fileIds not found.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
                  missingFileIds:
                    type: array
                    items:
                      type: string
                    description: List of file IDs from the request that were not found in the media library. Use this to identify which files need to be rechecked or removed from the request.
                    example: ["598821f949c0a938d57563bd", "invalid_file_id"]
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
  /api/media-library/{clientNumber}/files/bulk/custom-metadata/supported-fields:
    post:
      tags:
        - Digital Asset Management (DAM)
        - Custom metadata fields
      operationId: get-bulk-metadata-supported-fields
      summary: Get supported fields for bulk update
      description: |
        Retrieves the list of custom metadata fields that are available for the specified files. This endpoint is useful to discover which metadata fields you can set before performing a bulk update operation.
        
        **Use cases:**
        - Discover available custom metadata fields before updating files
        - Validate which fields can be applied to a specific set of files
        - Get field schemas including data types, validation rules, and default values
        - Handle path policy restrictions (files in different folders may have different available fields)
        
        **Workflow:**
        1. Call this endpoint with the fileIds you plan to update
        2. Examine the returned CustomMetadataField objects to understand available fields and their schemas
        3. Prepare your customMetadata object according to the field definitions
        4. Call the bulk-update-custom-metadata endpoint with valid field names and values
      parameters:
        - $ref: "#/components/parameters/ClientNumber"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fileIds
              properties:
                fileIds:
                  type: array
                  items:
                    type: string
                  description: |
                    Array of file IDs (MongoDB ObjectId strings) to check for supported custom metadata fields. All files must exist and should ideally be in the same folder or have the same path policy applied to avoid errors. Maximum 1000 files per request.
                  example: ["598821f949c0a938d57563bd", "598821f949c0a938d57563be"]
                  maxItems: 1000
                  minItems: 1
      responses:
        "200":
          description: Successfully retrieved the list of custom metadata fields that can be applied to the specified files. Use these field definitions to construct valid customMetadata objects for bulk updates.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CustomMetadataField"
              example:
                - id: "598821f949c0a938d57563dd"
                  name: brand
                  label: Brand Name
                  schema:
                    type: Text
                    isValueRequired: false
                    maxLength: 100
                - id: "598821f949c0a938d57563de"
                  name: price
                  label: Product Price
                  schema:
                    type: Number
                    minValue: 0
                    maxValue: 10000
        "400":
          description: |
            Bad request. The most common cause is when selected files belong to folders with different path policies. Path policies can restrict which custom metadata fields are available in different folders. To resolve:
            - Ensure all files in the request are from the same folder or folders with the same path policy
            - Or split the request into multiple calls grouped by path policy
            - Or verify path policies are not conflicting in your account settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Multiple path policies found for selected files.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: |
            One or more file IDs not found in the media library. Verify the file IDs are correct and the files exist. This prevents you from attempting to get metadata fields for non-existent files.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: One or more fileIds not found.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
  /api/media-library/{clientNumber}/files/bulk/apply-extension:
    post:
      tags:
        - Digital Asset Management (DAM)
        - Saved Extensions
      operationId: bulk-apply-extensions
      summary: Apply saved extensions to files
      description: |
        Applies one or more saved extension presets to multiple files in bulk. This endpoint is used for batch processing files with AI/ML extensions like background removal, auto-tagging, image analysis, and other transformations.
        
        **Use cases:**
        - Apply pre-configured AI extensions to multiple images at once
        - Batch process files with background removal
        - Apply auto-tagging extensions to newly uploaded assets
        - Execute custom extension workflows across multiple files
        
        **Extension Processing:**
        - Extensions are applied sequentially to each file
        - Extension status can be `success` (completed), `pending` (processing), or `failed` (error)
        - For async extensions, results are sent to the optional `webhookUrl` upon completion
        - Each file's `extensionStatus` field is updated with processing status
        
        **Workflow:**
        1. Get available saved extensions from `/v1/saved-extensions` endpoint
        2. Select which extensions to apply
        3. Call this endpoint with fileIds and extension references
        4. Check response for successful updates and any errors
        5. For pending extensions, monitor webhookUrl for completion status
        
        **Limits:**
        - Maximum 100 files per request
        - Extensions must be valid saved extension presets
        - Restricted users need CONTRIBUTE or MANAGE permission on all files
      parameters:
        - $ref: "#/components/parameters/ClientNumber"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - fileIds
                - extensions
              properties:
                fileIds:
                  type: array
                  items:
                    type: string
                  description: |
                    Array of file IDs (MongoDB ObjectId format) to apply extensions to. All files must exist and be of type `file` (not folders). Maximum 100 files per request.
                  example: ["598821f949c0a938d57563bd", "598821f949c0a938d57563be"]
                  maxItems: 100
                  minItems: 1
                extensions:
                  $ref: "#/components/schemas/Extensions"
                webhookUrl:
                  type: string
                  format: uri
                  description: |
                    Optional webhook URL to receive notifications when asynchronous extension processing completes. ImageKit will POST the final status (success/failed) to this URL.
                  example: https://example.com/webhook/extensions
            example:
              fileIds:
                - "598821f949c0a938d57563bd"
                - "598821f949c0a938d57563be"
              extensions:
                - name: saved-extension
                  id: ext_abc123456
                - name: remove-bg
                  options:
                    add_shadow: true
                    semitransparency: false
                - name: google-auto-tagging
                  minConfidence: 80
                  maxTags: 10
              webhookUrl: https://example.com/webhook/extensions
      responses:
        "200":
          description: |
            Extensions applied successfully. Returns updated file details with extension status for each file.
            
            **Extension Status Values:**
            - `success` - Extension processing completed successfully
            - `pending` - Extension queued for asynchronous processing (webhook will be called on completion)
            - `failed` - Extension processing failed
            
            If some files failed to update, they are included in the `errors` array with specific error messages.
          content:
            application/json:
              schema:
                type: object
                properties:
                  successfullyUpdatedFiles:
                    type: array
                    items:
                      allOf:
                        - $ref: "#/components/schemas/FileDetails"
                        - type: object
                          properties:
                            extensionStatus:
                              $ref: "#/components/schemas/ExtensionStatus"
                    description: |
                      Array of file details for successfully updated files. Each file includes the complete FileDetails object plus an `extensionStatus` field showing the status of each applied extension.
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        fileId:
                          type: string
                          description: The file ID that failed to update
                          example: "598821f949c0a938d57563be"
                        error:
                          type: string
                          description: Error message describing why the file update failed
                          example: Extension limit exceeded for this file.
                    description: |
                      Array of errors for files that failed to update. Only present if some files encountered errors. Each error includes the fileId and a descriptive error message.
              example:
                successfullyUpdatedFiles:
                  - fileId: "598821f949c0a938d57563bd"
                    name: "image.jpg"
                    filePath: "/folder/image.jpg"
                    type: file
                    url: https://ik.imagekit.io/your_imagekit_id/folder/image.jpg
                    thumbnail: https://ik.imagekit.io/your_imagekit_id/folder/image.jpg?tr=n-ik_ml_thumbnail
                    fileType: image
                    mime: image/jpeg
                    extensionStatus:
                      remove-bg: pending
                      google-auto-tagging: success
                errors:
                  - fileId: "598821f949c0a938d57563be"
                    error: Extension limit exceeded for this file.
        "400":
          description: |
            Bad request. Common causes:
            - **Missing extensions**: Extensions array is required and must contain at least one extension
            - **Missing fileIds**: fileIds parameter is missing or empty
            - **Invalid fileIds**: One or more fileIds are not valid MongoDB ObjectId format
            - **Invalid extension format**: Extension object is missing required fields (name, or id for saved-extension)
            - **Invalid extension name**: Extension name is not one of the supported extensions
            - **Extension preset not found**: One or more saved extension IDs don't exist in your account
            - **Duplicate saved extensions**: Cannot use the same saved extension ID multiple times
            - **Extension limit exceeded**: File would exceed extension processing limits
            
            Check the message field for specific validation failure details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples:
                      - Extensions array is required and must contain at least one extension.
                      - FileIds parameter is missing.
                      - fileIds is empty.
                      - extension name is invalid
                      - Failed to resolve some saved extensions
                      - Extension limit exceeded for this file.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: |
            Forbidden. The user does not have permission to apply extensions to one or more of the specified files.
            
            For restricted users, this error occurs when they lack CONTRIBUTE or MANAGE permission on any of the files in the request. All files must be accessible to the user for the operation to succeed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: User is not allowed to perform the requested operation.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "404":
          description: |
            One or more file IDs not found in the media library. Check the missingFileIds array to see which specific file IDs don't exist. Verify the file IDs are correct and the files haven't been deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples:
                      - No files found with the provided IDs.
                      - Some files were not found.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
                  missingFileIds:
                    type: array
                    items:
                      type: string
                    description: List of file IDs from the request that were not found in the media library.
                    example: ["598821f949c0a938d57563bd"]
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
  /api/v2/files:
    get:
      tags:
        - Digital Asset Management (DAM)
      operationId: list-and-search-assets
      summary: List files and folders, or search with filters
      description: |
        List or search for files and folders in your media library. Supports multiple search modes: basic listing, text search, and AI-powered semantic search.
        
        **When to use:**
        - **List all files in a folder:** Set `path=/folder/path`, omit `searchQuery`
        - **Text search with filters:** Use `searchQuery` with Lucene syntax (e.g., `name:"logo" AND tags:"brand"`)
        - **AI semantic search (find similar images):** Set `semantic=true` with natural language query OR use `semanticUrl` with image URL
        - **Get single file by ID:** Use `get-file-details` instead (faster, returns more metadata)
        
        ---
        
        ## Search Query Examples
        
        The `searchQuery` parameter supports powerful Lucene-like syntax for filtering. Use these patterns:
        
        ### Basic Queries
        
        **Recent files:**
        ```
        createdAt > "7d"                    # Files uploaded in last 7 days
        createdAt > "2024-01-01"            # Files after Jan 1, 2024
        updatedAt > "2024-01-01T12:00:00"   # With specific time
        ```
        
        **File size:**
        ```
        size > "2mb"                        # Files larger than 2MB
        size <= 1048576                     # Files 1MB or smaller (bytes)
        size > "1mb" AND size < "10mb"      # Between 1-10MB
        ```
        
        **Dimensions (images only):**
        ```
        width > 1920                        # Images wider than 1920px
        height <= 1080                      # Images 1080px tall or less
        width > 500 AND height > 500        # Large images
        ```
        
        ### Name & Tag Searches
        
        **Exact name match:**
        ```
        name = "logo.png"                   # Exact match (case-sensitive)
        name IN ["logo.png", "banner.jpg"]  # Multiple exact matches
        ```
        
        **Name prefix:**
        ```
        name: "product-"                    # Files starting with "product-"
        name: "banner"                      # Matches banner.jpg, banner-2024.png
        ```
        
        **Full-text search (case-insensitive):**
        ```
        name HAS "red"                      # Matches "red-dress.jpg", "Red_Car.png"
        name HAS "red dress"                # Matches files with both words
        tags HAS "summer"                   # Searches tags AND AITags
        ```
        
        **Tags:**
        ```
        tags IN ["sale", "summer"]          # Files with sale OR summer tag
        tags NOT IN ["draft"]               # Exclude draft files
        tags EXISTS                         # Files with at least one tag
        tags NOT EXISTS                     # Files with no tags
        ```
        
        ### Custom Metadata Searches
        
        **Text fields:**
        ```
        "customMetadata.category" = "clothing"
        "customMetadata.brand": "Nike"              # Prefix match
        "customMetadata.description" HAS "luxury"   # Full-text search
        "customMetadata.sku" IN ["SKU001", "SKU002"]
        "customMetadata.description" EXISTS         # Has value
        ```
        
        **Number fields:**
        ```
        "customMetadata.price" > 100
        "customMetadata.stock" <= 50
        "customMetadata.rating" >= 4.5
        ```
        
        **Date fields:**
        ```
        "customMetadata.publishDate" > "2024-01-01"
        "customMetadata.expiryDate" < "30d"         # Expires in 30 days
        ```
        
        **Boolean fields:**
        ```
        "customMetadata.featured" = true
        "customMetadata.active" = false
        ```
        
        **MultiSelect fields:**
        ```
        "customMetadata.colors" IN ["red", "blue"]
        "customMetadata.sizes" NOT IN ["XXL"]
        ```
        
        ### Embedded Metadata (EXIF)
        
        ```
        "embeddedMetadata.DateTimeOriginal" > "1y"
        "embeddedMetadata.Keywords" IN ["luxury", "premium"]
        "embeddedMetadata.LocationTaken" = "40.7128,-74.0060 5km"  # Within 5km radius
        "embeddedMetadata.LocationTaken" EXISTS
        ```
        
        ### Complex Queries with AND/OR
        
        **Combine conditions:**
        ```
        createdAt >= "7d" AND size > "2mb"
        name: "product-" AND tags IN ["featured"]
        width > 1920 OR height > 1080
        ```
        
        **Grouped conditions:**
        ```
        (size < "1mb" AND width > 500) OR (tags IN ["summer-sale","banner"])
        (name: "logo" OR name: "banner") AND format = "png"
        "customMetadata.category" = "clothing" AND ("customMetadata.brand" = "Nike" OR "customMetadata.brand" = "Adidas")
        ```
        
        ### File Type & Format
        
        ```
        type = "file"                       # Only files (not folders)
        type = "folder"                     # Only folders
        format = "jpg"                      # JPG images only
        format IN ["png", "webp"]           # PNG or WebP
        private = true                      # Private files
        published = false                   # Unpublished/draft files
        transparency = true                 # Images with alpha channel
        ```
        
        ### Path-based Searches
        
        ```
        path = "/products/"                 # Exact folder (no subfolders)
        path: "/products/"                  # Folder and all subfolders
        path IN ["/banners/", "/ads/"]      # Multiple folders
        path NOT = "/archive/"              # Exclude specific folder
        ```
        
        ### Search by ID
        
        ```
        id = "64fb1c2d8a7b4c1234567890"
        id IN ["64fb1c2d...", "64fb1c2e..."]
        id NOT IN ["64fb1c2d..."]
        ```
        
        ### Real-world Examples
        
        **Find large recent product images:**
        ```
        createdAt > "30d" AND path: "/products/" AND size > "500kb" AND (width > 1000 OR height > 1000)
        ```
        
        **Active featured items on sale:**
        ```
        "customMetadata.active" = true AND "customMetadata.featured" = true AND tags IN ["sale"]
        ```
        
        **High-quality photos from last quarter:**
        ```
        "embeddedMetadata.DateTimeOriginal" > "90d" AND width >= 3000 AND format IN ["jpg", "png"]
        ```
        
        **Draft content needing review:**
        ```
        published = false AND updatedAt > "7d" AND ("customMetadata.status" = "pending" OR "customMetadata.status" NOT EXISTS)
        ```
        
        ---
        
        ## Search Modes Summary
        
        1. **Basic listing:** Returns files in `path` folder (defaults to `/`). Filter by `fileType`. Max 1000 results per request.
        2. **Advanced text search:** Use `searchQuery` param with examples above. Combine with `sort=DESC_RELEVANCE` for best results with `HAS` operator.
        3. **AI semantic search:** Set `semantic=true` for text-based similarity OR `semanticUrl` for visual similarity. Returns results ranked by relevance score (filter with `minScore`).
        
        **V2 features:** Semantic search with AI-powered text and image similarity matching.
        
        **Note:** When `searchQuery` is used, the `tags`, `type`, and `name` query parameters are ignored.
      parameters:
        - in: query
          name: type
          required: false
          description: |
            Filter results by asset type.

            - `file` — returns only files  
            - `file-version` — returns specific file versions  
            - `folder` — returns only folders  
            - `all` — returns both files and folders (excludes `file-version`)
          schema:
            type: string
            enum:
              - file
              - file-version
              - folder
              - all
            default: file
        - in: query
          name: sort
          required: false
          description: |
            Sort the results by one of the supported fields in ascending or descending order.
          schema:
            type: string
            enum:
              - ASC_NAME
              - DESC_NAME
              - ASC_CREATED
              - DESC_CREATED
              - ASC_UPDATED
              - DESC_UPDATED
              - ASC_HEIGHT
              - DESC_HEIGHT
              - ASC_WIDTH
              - DESC_WIDTH
              - ASC_SIZE
              - DESC_SIZE
              - ASC_RELEVANCE
              - DESC_RELEVANCE
            default: ASC_CREATED
        - in: query
          name: path
          required: false
          description: |
            Folder path if you want to limit the search within a specific folder. For example, `/sales-banner/` will only search in folder sales-banner.

            Note : If your use case involves searching within a folder as well as its subfolders, you can use `path` parameter in `searchQuery` with appropriate operator.
            Checkout [Supported parameters](/docs/api-reference/digital-asset-management-dam/list-and-search-assets#supported-parameters) for more information.
          schema:
            type: string
        - in: query
          name: searchQuery
          required: false
          description: |
            Query string in a Lucene-like query language e.g. `createdAt > "7d"`.

            Note : When the searchQuery parameter is present, the following query parameters will have no effect on the result:

            1. `tags`
            2. `type`
            3. `name`

            [Learn more](/docs/api-reference/digital-asset-management-dam/list-and-search-assets#advanced-search-queries) from examples.
          schema:
            type: string
        - in: query
          name: fileType
          required: false
          description: |
            Filter results by file type.

            - `all` — include all file types  
            - `image` — include only image files  
            - `non-image` — include only non-image files (e.g., JS, CSS, video)
          schema:
            type: string
            enum:
              - all
              - image
              - non-image
            default: all
        - in: query
          name: limit
          required: false
          description: |
            The maximum number of results to return in response.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 1000
        - in: query
          name: skip
          required: false
          description: |
            The number of results to skip before returning results.
          schema:
            type: integer
            minimum: 0
            default: 0
        - in: query
          name: semantic
          required: false
          description: |
            Text query for AI-powered semantic search (max 500 characters).
          schema:
            type: string
            maxLength: 500
        - in: query
          name: semanticUrl
          required: false
          description: |
            Image URL for visual similarity search.
          schema:
            type: string
            format: uri
        - in: query
          name: minScore
          required: false
          description: |
            Minimum confidence score for semantic search results (0.0 to 1.0).
          schema:
            type: number
            minimum: 0.0
            maximum: 1.0
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: List of assets.
          content:
            application/json:
              schema:
                type: array
                items:
                  discriminator:
                    propertyName: type
                    mapping:
                      file: "#/components/schemas/FileDetails"
                      "file-version": "#/components/schemas/FileDetails"
                      folder: "#/components/schemas/FolderDetails"
                  oneOf:
                    - $ref: "#/components/schemas/FileDetails"
                    - $ref: "#/components/schemas/FolderDetails"
              example:
                - fileId: 598821f949c0a938d57563bd
                  type: file
                  name: file.jpg
                  filePath: /images/products/file.jpg
                  tags:
                    - t-shirt
                    - round-neck
                    - sale2019
                  AITags:
                    - name: Shirt
                      confidence: 90.12
                      source: google-auto-tagging
                    - name: T-shirt
                      confidence: 80.12
                      source: aws-auto-tagging
                  versionInfo:
                    id: 598821f949c0a938d57563bd
                    name: Version 2
                  isPrivateFile: false
                  customCoordinates: null
                  url: https://ik.imagekit.io/your_imagekit_id/images/products/file.jpg?updatedAt=1566630881313
                  thumbnail: https://ik.imagekit.io/your_imagekit_id/images/products/file.jpg?updatedAt=1566630881313&tr=n-ik_ml_thumbnail
                  fileType: image
                  mime: image/jpeg
                  width: 100
                  height: 100
                  size: 100
                  hasAlpha: false
                  customMetadata:
                    brand: Nike
                    color: red
                  createdAt: "2019-08-24T06:14:41.313Z"
                  updatedAt: "2019-08-24T06:14:41.313Z"
                - fileId: 598821f949c0a938d81963bd
                  type: file-version
                  name: file.jpg
                  filePath: /images/products/file.jpg
                  tags:
                    - t-shirt
                    - sale2019
                  AITags:
                    - name: Shirt
                      confidence: 90.12
                      source: google-auto-tagging
                    - name: T-shirt
                      confidence: 80.12
                      source: aws-auto-tagging
                  versionInfo:
                    id: 598821f949c0a938d57563bd
                    name: Version 1
                  isPrivateFile: false
                  customCoordinates: null
                  url: https://ik.imagekit.io/your_imagekit_id/images/products/file.jpg?ik-obj-version=iAg8gxkqo_QUBwqNeQrJzuyce2XB7Gc4&updatedAt=1566630881313
                  thumbnail: https://ik.imagekit.io/your_imagekit_id/images/products/file.jpg?ik-obj-version=iAg8gxkqo_QUBwqNeQrJzuyce2XB7Gc4&updatedAt=1566630881313&tr=n-ik_ml_thumbnail
                  fileType: image
                  mime: image/jpeg
                  width: 100
                  height: 100
                  size: 100
                  hasAlpha: false
                  customMetadata:
                    brand: Nike
                    color: red
                  createdAt: "2019-08-24T06:15:41.313Z"
                  updatedAt: "2019-08-24T06:15:41.313Z"
                - folderId: 6441fce4e809dd54b0dee029
                  type: folder
                  name: summer
                  createdAt: "2023-04-21T03:03:00.869Z"
                  updatedAt: "2023-04-21T03:10:22.374Z"
                  folderPath: "/sale"
        "400":
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples:
                      - The value of skip parameter should be greater than or equal to 0. Value sent is -1.
                      - Minimum value of limit parameter is 1. Value sent is 0.
                      - Maximum value of limit parameter is 1000. Value sent is 2000.
                      - Your request contains invalid value for sort parameters.
                      - "Your request contains invalid value for type parameter. Please provide one of the following: file, file-version, folder, all."
                      - sd
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
  /api/v2/files/{fileId}:
    delete:
      tags:
        - Digital Asset Management (DAM)
        - Managing assets
      operationId: delete-file
      summary: Delete single file permanently
      description: |
        Permanently delete a file and all its versions. Cannot be undone.
        
        **When to use:**
        - **Single file:** Use this endpoint to delete one file by `fileId`
        - **Multiple files:** Use `delete-multiple-files` instead (up to 100 files in one request)
        - **Cache:** Deletion does not purge CDN cache. Use `purge-cache` API separately if needed.
        
        **Important:** This is a destructive operation. The file and all versions are permanently removed from storage.
      parameters:
        - description: |
            The unique `fileId` of the uploaded file. `fileId` is returned in list and search assets API and upload API.
          in: path
          name: fileId
          required: true
          schema:
            type: string
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "204":
          description: File deleted successfully.
        "404":
          description: File not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested file does not exist.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "400":
          description: Bad Request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Your request contains invalid fileId parameter.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
  /api/v2/files/batch/deleteByFileIds:
    post:
      tags:
        - Digital Asset Management (DAM)
        - Managing assets
      operationId: delete-multiple-files
      summary: Delete multiple files in bulk (max 100)
      description: |
        Permanently delete up to 100 files and all their versions in a single request. Returns success/failure status for each file.
        
        **When to use:**
        - **Bulk deletion:** Use this to delete 2-100 files at once
        - **Single file:** Use `delete-file` instead (simpler, one fileId param)
        - **Cache:** Deletion does not purge CDN cache. Use `purge-cache` API separately if needed.
        
        **Response:** Returns 200 with `successfullyDeletedFileIds` array and `errors` array for any failures. Even if some files fail, successfully deleted files are still removed (partial success).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - fileIds
              properties:
                fileIds:
                  type: array
                  items:
                    type: string
                  description: |
                    An array of fileIds which you want to delete.
            example:
              fileIds:
                - 598821f949c0a938d57563bd
                - 598821f949c0a938d57563be
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Files deleted successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  successfullyDeletedFileIds:
                    type: array
                    items:
                      type: string
                    description: |
                      An array of fileIds that were successfully deleted.
        "207":
          description: Partially successful. Some files were not deleted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  successfullyDeletedFileIds:
                    type: array
                    items:
                      type: string
                    description: |
                      An array of fileIds that were successfully deleted.
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        fileId:
                          type: string
                          description: Unique identifier of the file that was not deleted.
                        error:
                          type: string
                          description: |
                            Error message for the file that was not deleted.
                    description: |
                      An array of fileIds that were not deleted and the error.
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples:
                      - fileIds parameter is missing.
                      - fileIds cannot have more than 100 items.
                      - fileIds should be an Array.
                      - fileIds is empty.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "404":
          description: File not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested file(s) does not exist.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
                  missingFileIds:
                    type: array
                    items:
                      type: string
                    description: |
                      An array of fileIds that were not found.
  /api/v2/files/copy:
    post:
      tags:
        - Digital Asset Management (DAM)
        - Managing assets
      operationId: copy-file
      summary: Copy file to another folder
      description: |
        Copy a file from one folder to another. Optionally include all file versions in the copy.
        
        **When to use:**
        - **Duplicate file to new location:** Use this to copy a file while keeping the original
        - **Move instead:** Use `move-file` if you want to relocate (not duplicate) the file
        - **Version handling:** If destination has a file with the same name, source versions are appended to destination's version history
        
        **V2 change:** Returns copied file details (200) instead of empty response (204).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - sourceFilePath
                - destinationPath
              properties:
                sourceFilePath:
                  type: string
                  description: |
                    The full path of the file you want to copy.
                  example: /path/to/file.jpg
                destinationPath:
                  type: string
                  description: |
                    Full path to the folder you want to copy the above file into.
                  example: /folder/to/copy/into/
                includeFileVersions:
                  type: boolean
                  description: |
                    Option to copy all versions of a file. By default, only the current version of the file is copied. When set to true, all versions of the file will be copied. Default value - `false`.
                  example: false
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: File copied successfully. Returns the file details of the created/updated file.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileDetails"
        "404":
          description: File not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: SOURCE_FILE_MISSING
                  message:
                    type: string
                    example: No file found with filePath `/file1.jpg`.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Your request is missing parameters / contains invalid parameters.
                  reason:
                    type: string
                    examples:
                      - MISSING_PARAMETER
                      - SAME_SOURCE_AND_DESTINATION
                      - VERSION_LIMIT_EXCEEDED
                      - INVALID_FOLDER_PATH
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
  /api/v2/files/move:
    post:
      tags:
        - Digital Asset Management (DAM)
        - Managing assets
      operationId: move-file
      summary: Move file to another folder
      description: |
        Move a file and all its versions from one folder to another. The original file is removed from the source location.
        
        **When to use:**
        - **Relocate file:** Use this to move a file to a different folder (source is removed)
        - **Duplicate instead:** Use `copy-file` if you want to keep the original in place
        - **Version handling:** If destination has a file with the same name, all source versions are appended to destination's version history
        
        **V2 change:** Returns moved file details (200) instead of empty response (204).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - sourceFilePath
                - destinationPath
              properties:
                sourceFilePath:
                  type: string
                  description: |
                    The full path of the file you want to move.
                  example: /path/to/file.jpg
                destinationPath:
                  type: string
                  description: |
                    Full path to the folder you want to move the above file into.
                  example: /folder/to/move/into/
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: File moved successfully. Returns the file details of the moved file.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FileDetails"
        "404":
          description: File not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: SOURCE_FILE_MISSING
                  message:
                    type: string
                    example: No file found with filePath `/file1.jpg`.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Your request is missing parameters / contains invalid parameters.
                  reason:
                    type: string
                    examples:
                      - MISSING_PARAMETER
                      - SAME_SOURCE_AND_DESTINATION
                      - VERSION_LIMIT_EXCEEDED
                      - INVALID_FOLDER_PATH
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
  /api/v2/files/rename:
    put:
      tags:
        - Digital Asset Management (DAM)
        - Managing assets
      operationId: rename-file
      summary: Rename file (affects all versions)
      description: |
        Rename a file in the media library. Renames all versions of the file. Old URLs stop working immediately, but CDN cache may persist.
        
        **When to use:** Use this to change a file's name while keeping it in the same folder. To move a file to a different folder, use `move-file` instead.
        
        **Important:**
        - Old URLs stop working immediately (e.g., `https://ik.imagekit.io/demo/old-name.jpg` returns 404)
        - CDN may still serve cached content unless you set `purgeCache=true` (uses your purge quota)
        - New URLs work immediately: `https://ik.imagekit.io/demo/new-name.jpg`
        - Returns `purgeRequestId` for tracking purge status if `purgeCache=true`
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - filePath
                - newFileName
              properties:
                filePath:
                  type: string
                  description: |
                    The full path of the file you want to rename.
                  example: /path/to/file.jpg
                newFileName:
                  type: string
                  description: |
                    The new name of the file. A filename can contain:

                    Alphanumeric Characters: `a-z`, `A-Z`, `0-9` (including Unicode letters, marks, and numerals in other languages).
                    Special Characters: `.`, `_`, and `-`.

                    Any other character, including space, will be replaced by `_`.
                  example: newFileName.jpg
                purgeCache:
                  type: boolean
                  description: |
                    Option to purge cache for the old file and its versions' URLs.

                    When set to true, it will internally issue a purge cache request on CDN to remove cached content of old file and its versions. This purge request is counted against your monthly purge quota.

                    Note: If the old file were accessible at `https://ik.imagekit.io/demo/old-filename.jpg`, a purge cache request would be issued against `https://ik.imagekit.io/demo/old-filename.jpg*` (with a wildcard at the end). It will remove the file and its versions' URLs and any transformations made using query parameters on this file or its versions. However, the cache for file transformations made using path parameters will persist. You can purge them using the purge API. For more details, refer to the purge API documentation.



                    Default value - `false`
                  example: true
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: On success, you will receive `purgeRequestId` in the response body, which can be used to get the purge request status. This is only sent if the `purgeCache` is set to `true` in the request. Otherwise, the response is an empty JSON.
          content:
            application/json:
              schema:
                type: object
                properties:
                  purgeRequestId:
                    type: string
                    description: |
                      Unique identifier of the purge request. This can be used to check the status of the purge request.
        "207":
          description: In case purgeCache is set to true and total purge request count has exceeded the quota, we will rename the file but won't purge CDN cache.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: PURGE_FAILED
                  message:
                    type: string
                    example: File renamed successfully but we could not purge the CDN cache for old URL because of rate limits on purge API.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.

        "404":
          description: If no file is found at the specified filePath in the media library, then a 404 response is returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: FILE_MISSING
                  message:
                    type: string
                    example: No file found in media library at filePath /path/to/file.jpg
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "409":
          description: If a file with newFileName already exist in the same location.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    example: FILE_ALREADY_EXISTS
                  message:
                    type: string
                    example: File with name newFileName already exists at the same location.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "400":
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  reason:
                    type: string
                    examples:
                      - MISSING_PARAMETER
                      - INVALID_PARAMETER
                      - SAME_OLD_AND_NEW_NAME
                  message:
                    type: string
                    example: newFileName cannot be the same as its existing name.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
  /api/v2/files/{fileId}/publish:
    put:
      tags:
        - Digital Asset Management (DAM)
        - Managing assets
      operationId: publish-file
      summary: Publish or unpublish file
      description: |
        Set publication status on a file. Publishing marks files as ready for production use. Unpublishing automatically purges CDN cache.
        
        **When to use:** Use this to control draft vs published status on files. Useful for content workflows where files need approval before going live.
        
        **Behavior:**
        - `publish=true`: Sets `isPublished` metadata to true on the file in S3
        - `publish=false`: Sets `isPublished=false` AND automatically purges CDN cache for the file URL
        - `includeFileVersions=true`: Applies the operation to all file versions
        
        **V2 only:** This endpoint is only available in API v2.
      parameters:
        - description: |
            The unique `fileId` of the file. `fileId` is returned in list and search assets API and upload API.
          in: path
          name: fileId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - publish
              properties:
                publish:
                  type: boolean
                  description: |
                    Set to `true` to publish the file, or `false` to unpublish it.
                  example: true
                includeFileVersions:
                  type: boolean
                  description: |
                    When set to `true`, the publish/unpublish operation will apply to all versions of the file. Default value - `false`.
                  example: false
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: File published/unpublished successfully. Returns an empty object.
          content:
            application/json:
              schema:
                type: object
                example: {}
        "404":
          description: File not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: The requested file does not exist.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
        "400":
          description: Bad request. Missing or invalid parameters.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples:
                      - Your request is missing 'publish' parameter.
                      - Parameter 'publish' must be a boolean.
                      - Parameter 'includeFileVersions' must be a boolean.
                  help:
                    type: string
                    example: For support kindly contact us at support@imagekit.io.
  /api/v2/files/{fileId}/versions:
    get:
      tags:
        - Digital Asset Management (DAM)
        - Managing assets
      operationId: list-file-versions
      summary: List file versions
      description: |
        Returns all versions of a file, including the current version and previous versions. Versions are created automatically when a file is overwritten (re-uploaded with the same name and path). Each version has its own `versionId`, URL, metadata (tags, dimensions, size), and timestamps.

        **When to use:**
        - View the history of changes to a file
        - Find a specific past version to restore or compare
        - Audit who modified a file and when

        **Related endpoints:**
        - Use `get-file-version-details` to inspect a single version
        - Use `restore-file-version` to make a past version the current one
        - Use `delete-file-version` to permanently remove specific old versions
      parameters:
        - description: |
            The unique `fileId` of the uploaded file. `fileId` is returned in list and search assets API and upload API.
          in: path
          name: fileId
          required: true
          schema:
            type: string
      responses:
        "429":
          $ref: "#/components/responses/RateLimitExceeded"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "200":
          description: Array of file version objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FileDetails"
                  example:
                    - fileId: 598821f949c0a938d57563bd
                      type: file
                      name: file.jpg
                      filePath: /images/products/file.jpg
                      tags:
                        - t-shirt
                        - round-neck
                        - sale2019
                      AITags:
                        - name: Shirt
                          confidence: 90.12
                          source: google-auto-tagging
                        - name: T-shirt
                          confidence: 80.12
                          source: aws-auto-tagging
                      versionInfo:
                        id: 598821f949c0a938d57563bd
                        name: Version 2
                      isPrivateFile: false
                      customCoordinates: null
                      url: https://ik.imagekit.io/your_imagekit_id/images/products/file.jpg?updatedAt=1566630881313
                      thumbnail: https://ik.imagekit.io/your_imagekit_id/images/products/file.jpg?updatedAt=1566630881313&tr=n-ik_ml_thumbnail
                      fileType: image
                      mime: image/jpeg
                      width: 100
                      height: 100
                      size: 100
                      hasAlpha: false
                      customMetadata:
                        brand: Nike
                        color: red
                      createdAt: "2019-08-24T06:14:41.313Z"
                      updatedAt: "2019-08-24T06:14:41.313Z"
                    - fileId: 598821f949c0a938d81963bd
                      type: file-version
                      name: file.jpg
                      filePath: /images/products/file.jpg
                      tags:
                        - t-shirt
                        - sale2019
                      AITags:
                        - name: Shirt
                          confidence: 90.12
                          source: google-auto-tagging
                        - name: T-shirt
                          confidence: 80.12
                          source: aws-auto-tagging
                      versionInfo:
                        id: 598821f949c0a938d57563bd
                        name: Version 1
                      isPrivateFile: false
                      customCoordinates: null
[...]
